@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div id="counter" style="margin: auto; font-size:120px; font-family:'Segoe UI Light';"></div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>

    <script type="text/javascript">
        $(function () {
            // create a signalr connection
            var con = $.hubConnection();

            // create a hub proxy
            var hub = con.createHubProxy('hitCounterHub');

            // an event handler for a hub-generated event
            hub.on('receiveHit', function (count) {
                $('#counter').text(count);
            });

            // start the connection
            con.start(function () {

                // [we're connected now, so] record the site's hit
                hub.invoke('RecordHit');
            });
        });
    </script>
</body>
</html>
